.main-wrapper {
  background: #191919;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.main-wrapper:after {
  content: '';
  position: absolute;
  width: 800px;
  height: 600px;
  border: 1px solid rgba(136, 136, 136, 0.4);
  top: -5%;
  right: -10%;
  overflow: hidden;
  transform: skew(20deg) rotate(70deg);
}

.main-wrapper:before {
  content: '';
  position: absolute;
  width: 800px;
  height: 600px;
  border: 1px solid rgba(136, 136, 136, 0.4);
  bottom: 40%;
  left: -10%;
  overflow: hidden;
  transform: skew(20deg) rotate(-60deg);
}

.navigation {
  position: fixed;
  padding: 2rem;
  color: #F1F1F1;
  width: 100%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.typewriter h3 {
  color: #F1F1F1;
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
      typing 1.5s steps(30, end),
      blink-caret 1.75s ease-in;
}

.typewriter h3.open {
  z-index: -100;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  25% { border-color: #F1F1F1 }
}

.modal-overlay {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(16px);
  z-index: 20;
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.hamburger-menu {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger-menu span {
  height: 2px;
  background: #F1F1F1;
  border-radius: 10px;
  position: relative;
  z-index: 100;
  transform-origin: 1px;
  transition: all 0.35s ease;
  cursor: pointer;
}

.hamburger-menu .open:first-child {
  transform: rotate(45deg);
}

.hamburger-menu .open:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger-menu .open:nth-child(3) {
  transform: rotate(-45deg);
}

.landing-page {
  height: 100vh;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 10;
  transition: opacity 2s;
}

.slide.active {
  text-align: center;
  opacity: 1;
}

.carousel-container span {
  color: #888;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 5px;
}

.carousel-container h1 {
  color: #FFF;
  font-size: 80px;
  letter-spacing: 5px;
}

.about {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-wrapper {
  padding: 3rem 0;
  max-width: 75%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 10;
}

.about-heading {
  position: relative;
}

.about-heading:after {
  content: 'HI! I AM AVINASH KAMAL.';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-40%) translateY(-25%);
  letter-spacing: 8px;
  color: #FFF;
  font-size: 16px;
}

.about-content {
  font-size: 20px;
  color: #888;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

img {
  width: 20rem;
}

.social-media-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-media-link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  cursor: pointer;
  transition: all 300ms;
}

.social-media-link:hover {
  background: #FFF;
  color: #333;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.skills {
  padding: 2rem;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.skill-heading {
  color: #333333;
  font-size: 20px;
}

.technology {
  color: #888888;
  display: grid;
  /*grid-template-columns: 100px 1fr;*/
  gap: 1rem;
  align-items: center;
  padding: 1rem 0;
}

.contact {
  padding: 2rem;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

textarea {
  border-radius: 8px;
  resize: none;
}

button {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 8px;
  padding: 16px;
  background-color: #191919;
  text-shadow: 1px 1px 0 #090909;
}

.form-control {
  margin-bottom: 1rem;
}

.input-container {
  color: #F1F1F1;
  position: relative;
  font-size: 16px;
  margin-bottom: 4px;
  padding-top: 20px;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  outline: 0;
  font-size: 16px;
  text-shadow: 1px 1px 0 #212121;
  box-shadow: inset 2px 2px 5px #090909, inset -5px -5px 10px #141414;
  width: 100%;
  background: #191919;
  caret-color: #F1F1F1;
  color: #F1F1F1;
  appearance: none;
  border-radius: 8px;
  outline: none;
  padding: 12px;
  background: none;
  transition: border-color 0.3s ease;
}

.input-container .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #888888;
  transition: top 0.3s ease,
  font-size 0.3s ease,
  color 0.3s ease
}

.input-container input + .placeholder {
  padding: 0 4px;
}

.input-container input:valid, .input-container input:focus {
  border-color: #0653DFFF;
  transition-delay: 0.1s;
  border-width: 2px;
  border-style: solid;
}

.input-container input:valid + .placeholder, .input-container input:focus + .placeholder {
  top: 28%;
  font-size: 12px;
  color: #0653DFFF;
  background: #191919;
}

input::placeholder {
  color: #0653DFFF;
}

.btn-primary:hover {
  box-shadow: -2px -2px 5px #191919, 2px 2px 5px #090909;
}

.btn-primary:active {
  box-shadow: inset 1px 1px 2px #090909, inset -1px -1px 2px #191919;
}

.contact-info-social {
  display: flex;
  justify-content: center;
  align-items: center;
}


