*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: 1.6;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.large-heading {
  font-size: 8rem;
  font-weight: 900;
  color: #333;
}
