*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: 1.6;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.large-heading {
  font-size: 8rem;
  letter-spacing: 8px;
  color: #333;
}

.btn {
  color: #0653DFFF;
  box-shadow: -5px -5px 20px #141414,  5px 5px 20px #090909;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

a {
  text-decoration: none;
  color: #F1F1F1;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F1F1F1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51,51,51);
  background: -moz-linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(136,136,136,0.7903536414565826) 100%);
  background: -webkit-linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(136,136,136,0.7903536414565826) 100%);
  background: linear-gradient(180deg, rgba(51,51,51,1) 0%, rgba(136,136,136,0.7903536414565826) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#888888",GradientType=1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
